.input {
  width: 100%;

  padding: 16px 20px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  border: 2px solid #000;
  border-radius: 20px;
}

.input::placeholder {
  color: #808080;
}
