.input {
	width: 100%;
	display: flex;
	align-items: center;
}

.input-content {
	width: 100%;

	position: relative;
	box-sizing: border-box;
	border: 2px solid #000;
	border-radius: 20px;

	margin: 0 auto;
	padding: 13px 60px 13px 60px;
	font-size: 18px;
	line-height: 18px;
	outline: none;
}
.input-content::placeholder {
	color: #808080;
}
