* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  min-height: 100vh;

  background-color: #f6f6f6;
}
