.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 52px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
