.header {
  display: flex;
  align-items: center;
  gap: 20px;

  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button {
  justify-content: start;
}
